<div class="container-fluid p-0 d-flex mainDiv flex-sm-column flex-md-column flex-lg-row flex-xl-row flex-xxl-row">

  <app-menu class="border-end border-2"></app-menu>


  <div class="container-fluid d-flex flex-column align-items-center p-4">

    <div class="container-fluid p-0 d-flex justify-content-between p-3 
    px-4 row align-items-baseline">

      <div
        class="container p-0 d-flex col-md-9 col-sm-12 justify-content-md-start justify-content-sm-center divMsgHello">
        <h2 class="text-white Subheadings">Hey, eu sou Weverton
          Lima!</h2>
      </div>

      <ul class="nav d-flex gap-3 col-md-3 col-sm-12 justify-content-end justify-content-sm-center p-0 divContato">
        <li class="nav-item">
          <a href="https://www.linkedin.com/in/wevertonbarbosa00/" target="_blank" rel="noopener noreferrer"
            class="fs-1">
            <i class="lni lni-linkedin"></i>
          </a>

        </li>
        <li class="nav-item">
          <a href="https://github.com/Wevertonbarbosa/Wevertonbarbosa" target="_blank" rel="noopener noreferrer"
            class="fs-1 text-white">
            <i class="lni lni-github"></i>
          </a>
        </li>

      </ul>

    </div>

    <section class="text-white textBody border p-3">
      <p>Sou um <span class="rounded px-1">Desenvolvedor front end</span> e sou apaixonado pela tecnologia, meu
        interesse
        pela tecnologia se iniciou em 2021 e desde então, não parei!</p>
      <p>Tenho experiência <span class="rounded px-1">comprovada</span> no setor de tecnologia em uma das <span
          class="rounded px-1">melhores empresas
          de tecnologia do Brasil,</span> atuando em um ambiente altamente competitivo e inovador.</p>
      <p>
        Tenho <span class="rounded px-1">conhecimento sólido</span> em HTML5, CSS3 e JavaScript, com experiência nos
        principais frameworks Angular, Vue
        e React. <span class="rounded px-1">Possuo fortes habilidades em Back-End</span> com Java e Spring Boot, além de
        experiência com bancos de dados
        relacionais como Oracle, SQL Server e MySQL e sempre me desafio em novas tecnologias.
      </p>

      <p>
        Tenho mais de <span class="rounded px-1">20 certificações</span> em renomadas instituições como Alura, DIO,
        FIAP, TOTVS e Ada Tech e sempre com
        muita vontade de aprender.
        Atualmente,<span class="rounded px-1">estou cursando</span> Análise e Desenvolvimento de Sistemas na FIAP,
        instituição com nota máxima no MEC e
        referência em inovação tecnológica no Brasil.
      </p>
    </section>






  </div>
</div>