.mainDiv {
  height: 100%;
}

span {
  background: #1cbaa6;
}

a:hover {
  opacity: .7;
}
@media (max-width:768px){
  a{
    font-size: xxx-large !important;
  }
}


@media (max-width:575px){
 .mainDiv{
  flex-direction: column;
 }
 
  .divMsgHello{
  justify-content: center;
 }
 .divContato{
  justify-content: center !important;
 }
}