<div class="d-flex flex-lg-column flex-shrink-0 px-1 py-3 divMainSide px-md-0 pb-md-0 py-md-1 gap-lg-4">
 
  <div class="container-fluid p-0 mb-3 col-xxl-12 
  col-xl-12 col-lg-12 col-md-2 col-sm-2 divUserImg mb-md-0 mb-sm-0">
    <span class=" d-flex justify-content-center py-md-2">
      <img src="https://app.pactto.com/assets/images/avatar-placeholder.png" alt="user" class="w-75 rounded imgUser">
    </span>
    <p class="text-white m-0 text-center textBody sizeUserText">Weverton</p>
  </div>

  <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-10 col-sm-10 divLinks">
    <ul class="nav nav-pills flex-lg-column flex-md-nowrap mb-3 d-flex justify-content-md-around justify-content-sm-around listLinks">

      <li class="nav-item d-flex justify-content-center">
        <a routerLink="/user" routerLinkActive="active" aria-current="page" [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link fs-2 py-1">
          <i class="lni lni-users"></i>
        </a>
      </li>
      <li class="nav-item d-flex justify-content-center">
        <a routerLink="/jobs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link fs-2 py-1">
          <i class="lni lni-video"></i>
        </a>
      </li>
      <li class="nav-item d-flex justify-content-center">
        <a routerLink="/subscription" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link fs-2 py-1">
          <i class="lni lni-handshake"></i>
        </a>
      </li>
      <li class="nav-item d-flex justify-content-center">
        <a routerLink="/settings" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link fs-2 py-1">
          <i class="lni lni-cog"></i>
        </a>
      </li>
    </ul>
  </div>

</div>