<div class="container-fluid p-0 d-flex mainDiv flex-sm-column flex-md-column flex-lg-row flex-xl-row flex-xxl-row">

  <app-menu class="border-end border-2"></app-menu>

  <div class="container-fluid p-0">


    <div class="container-fluid p-0 my-3">

      <ul class="nav  nav-tabs justify-content-center gap-2">
        <li class="nav-item chooseInfo" (click)="changeInfo(1)">
          <a class="nav-link textMedium" [ngClass]="{'active': currentInfo === 1}">Experiência</a>
        </li>
        <li class="nav-item" (click)="changeInfo(2)">
          <a class="nav-link textMedium chooseInfo" [ngClass]="{'active': currentInfo === 2}">Educação</a>
        </li>
        <li class="nav-item" (click)="changeInfo(3)">
          <a class="nav-link textMedium chooseInfo" [ngClass]="{'active': currentInfo === 3}">Freelancer</a>
        </li>
      </ul>
    </div>


    <div
      class="container-fluid d-flex align-items-start gap-3 flex-xl-row flex-xxl-row flex-lg-row flex-md-row flex-sm-column divContent">

      <div class="list-group col-3 gap-3 divButtons">


        <div *ngIf="currentInfo == 1" class="container-fluid p-0 d-flex flex-column gap-2">
          <button type="button"
            class="list-group-item list-group-item-action d-flex align-items-center gap-2 textMedium rounded-pill py-4"
            aria-current="true" [ngClass]="{'active': currentPage === 1}" (click)="changeJob(1)">

            <div *ngIf="currentPage == 1" class="spinner-grow" role="status">
              <span class="visually-hidden"></span>
            </div>
            <div class="container-fluid p-0 d-flex flex-column">
              <p class="textBody h5 m-0">TOTVS</p>
              <p class="m-0 textBody dateButton">08/2023 até 03/2024</p>
            </div>

          </button>

          <button type="button" [ngClass]="{'active': currentPage === 2}" (click)="changeJob(2)"
            class="list-group-item list-group-item-action d-flex align-items-center gap-2 textMedium rounded-pill py-4">
            <div *ngIf="currentPage == 2" class="spinner-grow" role="status">
              <span class="visually-hidden"></span>
            </div>
            <div class="container-fluid p-0 d-flex flex-column">
              <p class="textBody h5 m-0">TOTVS</p>
              <p class="m-0 textBody dateButton">10/2022 até 04/2023</p>
            </div>
          </button>

          <button type="button" [ngClass]="{'active': currentPage === 3}" (click)="changeJob(3)"
            class="list-group-item list-group-item-action d-flex align-items-center gap-2 textMedium rounded-pill py-4">
            <div *ngIf="currentPage == 3" class="spinner-grow" role="status">
              <span class="visually-hidden"></span>
            </div>
            <div class="container-fluid p-0 d-flex flex-column">
              <p class="textBody h5 m-0">Ericsson</p>
              <p class="m-0 textBody dateButton">10/2017 até 09/2018</p>
            </div>
          </button>
        </div>

        <div *ngIf="currentInfo == 2" class="container-fluid p-2">
          <div class="container-fluid p-0 d-flex align-items-center justify-content-center mb-4">
            <img
              src="https://play-lh.googleusercontent.com/-uaIzKnZGDATRaOT_DqYKdzuJTWgeeOvQeZ0XNUASysOAJaGNqkKlyVPk_tiNAZqG2Q=w240-h480-rw"
              alt="Logo Fiap">
          </div>

          <div class="container-fluid p-0 bg-primary py-3 rounded">
            <h4 class="text-white text-center Subheadings mb-2">FIAP </h4>
            <h5 class="text-white textMedium text-center">Nota máxima no MEC</h5>
            <p class="textBody dateButton text-center">02/2023 até 12/2024</p>
          </div>

        </div>


        <div *ngIf="currentInfo == 3" class="container-fluid p-0">
          <app-page-freelancer></app-page-freelancer>
        </div>



      </div>

      <div class="container-fluid p-0 col my-2">

        <div *ngIf="currentInfo == 1" class="container-fluid p-0">

          <div *ngIf="currentPage == 1" class="container-fluid p-0 divDescription">
            <h4 class="text-primary Subheadings m-0">Tec. Desenvolvimento de Software</h4>
            <p class="text-white text-center textMedium h5 m-0">TOTVS</p>
            <p class="text-secondary text-center textBody">08/2023 até 03/2023</p>
            <p class="textBody text-white">Experiência com desenvolvimento de soluções escaláveis no sistema ERP
              Protheus,
              utilizando a linguagem ADVPL (TOTVS).
              <br>
              <br>
              Experiência com integrações de APIs no Front End com framework angular.
              <br>
              <br>
              Experiência em elaboração de documentos técnicos detalhados para documentar processos e procedimentos.
              <br>
              <br>
              Experiência com resoluções de problemas complexos, incluindo identificação e correção de bugs, depuração e
              abordagem de questões relacionadas à lógica de programação.
              <br>
              <br>
              Criei e mantive interfaces do sistema, utilizando o framework Angular com PO-UI (TOTVS).
              <br>
              <br>
              Experiência com metodologias ágeis Scrum e Kanban, participando de reuniões diárias, retrospectivas e
              planejamentos de sprint.
            </p>
          </div>

          <div *ngIf="currentPage == 2" class="container-fluid p-0 divDescription">
            <h4 class="text-primary  Subheadings m-0">Trainee</h4>
            <p class="text-white text-center m-0 textMedium h5">TOTVS</p>
            <p class="text-secondary text-center textBody">10/2022 até 04/2023</p>
            <p class="textBody text-white">Treinamento intensivo de Softs Skills e Hard Skills
              <br>
              <br>
              Prática no dia a dia no setor de Prestadores de serviços na TOTVS.
              <br>
              <br>
              Desenvolvendo um app em um squad do 0, sendo coordenado pelos padrinhos e madrinhas da TOTVS que estão nos
              apoiando e ensinando as regras de negócio a gestão do projeto, trabalho em equipe, estamos recebendo
              auxílio
              da agilista para desenvolvermos o projeto utilizando metodologia ágeis, seguindo um modelo de protótipo
              desenvolvido pela nossa UI.
            </p>
          </div>

          <div *ngIf="currentPage == 3" class="container-fluid p-0 divDescription">
            <h4 class="text-primary Subheadings m-0">Jovem Aprendiz</h4>
            <p class="text-white text-center m-0 textMedium h5">Ericsson</p>
            <p class="text-secondary text-center textBody">10/2017 até 09/2018</p>
            <p class="textBody text-white">Responsável pelas elaboração, atualização e criação de planilhas de controle
              Excel
              <br>
              <br>
              Preenchimentos de documentos no Word
              <br>
              <br>
              Negociações e cobranças á empresas, com atendimento telefone ou email
              <br>
              <br>
              Organização de arquivos
              <br>
              <br>
              Rotinas Administrativas
              <br>
              <br>
              Controle e criação de acesso a técnico, através dos sistemas operacionais.
            </p>
          </div>


        </div>



        <div *ngIf="currentInfo == 2" class="container-fluid p-0">
          <div class="container-fluid d-flex justify-content-center flex-column rounded">
            <h1 class="text-white text-center Subheadings border-bottom mb-2">FIAP</h1>
            <h4 class="text-white text-center textMedium">Faculdade de Informática e Administração Paulista</h4>
            <h5 class="text-white textMedium text-center">Análise e Desenvolvimento de Sistemas</h5>
            <div class="container-fluid d-flex justify-content-evenly p-0 pb-2">
              <h6 class="text-secondary textBody m-0 text-white">Início: 02/2023</h6>
              <h6 class="text-secondary text-center textBody text-white">Término: 12/2024</h6>
            </div>

            <div class="container-fluid p-2 bg-primary rounded">
              <h4 class="text-white textMedium text-center border-bottom">Competências:</h4>

              <div class="container-fluid p-2 d-flex divList">

                <div class="container-fluid p-0 col-6 contentList">
                  <ul class="list-group list-group-flush border-end" id="listBorder">
                    <li class="list-group-item bg-primary textBody text-white">Tecnologia da informação</li>
                    <li class="list-group-item bg-primary textBody text-white">Modelagem de dados </li>
                    <li class="list-group-item bg-primary textBody text-white"> Desenvolvimento Java</li>
                    <li class="list-group-item bg-primary textBody text-white">Serviços Web RESTful</li>
                    <li class="list-group-item bg-primary textBody text-white">Lógica</li>
                  </ul>
                </div>

                <div class="container-fluid p-0 col-6 contentList">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-primary textBody text-white">Trabalho em equipe</li>
                    <li class="list-group-item bg-primary textBody text-white">Solução de problemas técnicos</li>
                    <li class="list-group-item bg-primary textBody text-white">Comunicação</li>
                    <li class="list-group-item bg-primary textBody text-white">Gestão de projetos</li>
                    <li class="list-group-item bg-primary textBody text-white">Banco de dados</li>
                  </ul>
                </div>

              </div>

            </div>

          </div>
        </div>


      </div>

    </div>

  </div>

</div>