.dateButton {
  color: lightgrey;
}

a {
  color: #bab8b8;
}

.chooseInfo {
  cursor: pointer;
}

img {
  width: 50%;
  object-fit: cover;
}


@media (max-width: 767px) {
  .divButtons {
    padding: 20px;
    width: 100%;
  }

  .divDescription {
    padding: 20px !important;
  }

  .divFeedback {
    justify-content: center !important;
  }

}

@media (max-width: 575px) {
  .mainDiv {
    flex-direction: column;
  }

  .divContent {
    flex-direction: column;
  }

  .divList {
    flex-direction: column;
  }

  .contentList {
    width: 100%;
  }

  #listBorder {
    border-right: none !important;
    border-bottom: 1px solid lightgray;
  }

}

@media (max-width: 390px) {
  .DivUlInfo {
    gap: 0 !important;
  }

  .DivUlInfo,
  a {
    padding: 12px 5px 2px !important;
  }

}