<div class="container-fluid p-0 d-flex">


  <div class="container-fluid p-0 divDescription">
    <h4 class="text-primary Subheadings m-0">Site Angular com PO-UI</h4>
    <p class="text-white text-center textMedium h5 m-0">Workana</p>
    <p class="text-secondary text-center textBody">09/2024 até 09/2024</p>
    <p class="textBody text-white">Desenvolvi 3 páginas para um cliente.
      <br>

      Incluindo sistema de login com autenticação e proteção de rotas
      <br>

      Formulário de cadastro de novo usuário
      <br>

      Formulário de cadastro de emitentes
      <br>

      Páginas totalmente responsiva para mobile, desktop
      <br>
      Toda aplicação interagindo com o back-end do sistema.
    </p>
  </div>

</div>