<div class="container-fluid divMain">

  <div class="container-fluid p-2 border rounded">

    <div class="container-fluid p-2">
      <h4 class="Subheadings m-1 text-white">Classificações dos clientes</h4>
      <hr class="text-white">
    </div>

    <div class="container-fluid">
      <p class="textMedium text-white">Desenvolvimento Front End Angular com Poui</p>

      <p class="text-white textBody d-flex gap-2">
        <i class="lni lni-happy text-primary fs-5"></i>
        Anderson Fabiano Dums
        <i class="lni lni-star-fill text-warning"></i>
        <i class="lni lni-star-fill text-warning"></i>
        <i class="lni lni-star-fill text-warning"></i>
        <i class="lni lni-star-fill text-warning"></i>
        <i class="lni lni-star-fill text-warning"></i>
      </p>

      <p class="text-white textBody">"Fez o trabalho com qualidade, entrega dentro do prazo e foi de fácil acesso para
        ajustes."</p>

      <div class="container-fluid d-flex text-white gap-3 justify-content-center divTags">
        <p class="bg-primary fst-normal border rounded-pill p-1 px-2">JavaScript</p>
        <p class="bg-primary fst-normal border rounded-pill p-1 px-2">API</p>
        <p class="bg-primary fst-normal border rounded-pill p-1 px-2">CSS</p>
        <p class="bg-primary fst-normal border rounded-pill p-1 px-2">HTML</p>
        <p class="bg-primary fst-normal border rounded-pill p-1 px-2">Responsive Web Design</p>
        <p class="bg-primary fst-normal border rounded-pill p-1 px-2">Angular</p>
      </div>

    </div>

  </div>

</div>